body {
   
    background-color:dimgray; 
}



header {
     background-size:contain;
    min-height: 300px;
   background-repeat: no-repeat;
    background-position: top;   
    padding-bottom: 2em;
    padding-top: 2em;
}


.parallax { 
    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.photos {
    
    background-size:cover;
    background-position:center;
    background-repeat:;
    min-height: 225px;
    
}

h1 {
    font-family:"Marker Felt";
    font-variant:small-caps;
    line-height: 1.5;
    text-align: center;
}

.menu {
   font-family:"Marker Felt";
    font-variant:small-caps;
    line-height: 1.5; 
}


#juices {
    background-color:deeppink;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
}

#juicemenu {
    column-count: 2;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
    column-gap: 2em;
}
}

#smoothies {
    background-color:mediumpurple;
    font-size: 18px;
    padding-left: 6em;
    padding-right: 6em;
}

#smoothiemenu {
    background-color:mediumpurple;
     column-count: 2;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
    column-gap: 2em;
}

#powerbowls {
    background-color:deepskyblue;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
}

#powerbowlsmenu {
    background-color:deepskyblue;
    font-size: 18px;
    padding-left: 2em;
    padding-right: 2em;
    column-count: 2;
    column-gap: 2em;
}
#beautybowls {
    background-color:deeppink;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
    
}

#beautybowlsmenu {
    column-count: 2;
    font-size: 18px;
    padding-left: 2em;
    padding-right: 2em;
    column-gap: 2em;
}

#sandwiches {
    background-color:mediumpurple;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
}

#sandwichesmenu {
      column-count: 2;
    font-size: 18px;
    padding-left: 2em;
    padding-right: 2em;
    column-gap: 2em;
}

#salads {
    background-color:deepskyblue;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

#treatsandgrabandgos {
    background-color:deeppink;
    font-size: 18px;
    padding-left: 4em;
    padding-right: 4em;
}

#grabandgomenu {
    column-count: 2;
    font-size: 18px;
    padding-left: 2em;
    padding-right: 2em;
    column-gap: 2em;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: "helvetica";
    font-variant: small-caps;
}

#drinkprice {
    font-family:"Marker Felt";
    font-variant:small-caps;
    line-height: 1.5;
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

#about {
    
    padding-left: 4em;
    padding-right: 4em;
}

#aboutsection {
    column-count: 2;
    font-size: 16px;
    padding-left: 2em;
    padding-right: 2em;
    column-gap: 2em;
    font-family: "helvetica";
    font-variant: normal;
    
}
#instagram {
    height: 50px;
    width: 50px;
}

#facebook {
    height: 50px;
    width: 50px;
}

#twitter {
    height: 50px;
    width: 50px;
}

#yelp {
    height: 50px;
    width: 50px;
}

#tripadvisor {
    height: 50px;
    width: 50px;
}

#contactus {
    padding-left: 4em;
    padding-right: 4em;
    font-family: "helvetica";
    font-variant: normal;
    text-align: center
}
